out*
apps/*
!apps/createPrj.py
!apps/samples
*.bak
*.pak
*.swp
.*
!.gitigmore
!.gitmodules
*~
src/gui/gui_features.h
src/gui/core/build.h
deps
appdevops*
scripts/__pycache__
src/tools/po2json.py
docs/*worklog.*
