[submodule "huierpu"]
  path = huiperpu
  url = https://git.sanbontft.com:8081/cdroid-projects/huierpu.git
  branch = master

[submodule "huierpuJ2"]
  path = huierpuJ2
  url = https://git.sanbontft.com:8081/xialiangcai/huierpuJ2.git
  branch = main

[submodule "asd61236"]
  url = https://git.sanbontft.com:8081/cdroid-projects/asd61236.git
  branch = master

